In [1]:
import pandas as pd
import re
import os

In [2]:
df = pd.read_csv("dataset_orchid_clean.csv")

In [3]:
df.head()

,Unnamed: 0,sentence(x),words,word_with_special_char(y),sentence_without_space(x_clean),binary(y),sentence_len,binary_len
0,0,การประชุมทางวิชาการ ครั้งที่ 1,"['การ', 'ประชุม', 'ทาง', 'วิชาการ', 'ครั้ง', '...","['การ', 'ประชุม', 'ทาง', 'วิชาการ', 'ครั้ง', '...",การประชุมทางวิชาการ ครั้งที่ 1,1001000001001000000100001000,28,28
1,1,โครงการวิจัยและพัฒนาอิเล็กทรอนิกส์และคอมพิวเตอร์,"['โครงการวิจัย', 'และ', 'พัฒนา', 'อิเล็กทรอนิก...","['โครงการวิจัย', 'และ', 'พัฒนา', 'อิเล็กทรอนิก...",โครงการวิจัยและพัฒนาอิเล็กทรอนิกส์และคอมพิวเตอร์,100000000000100100001000000000000010010000000000,48,48
2,2,ปีงบประมาณ 2531,"['ปีงบประมาณ', '2531']","['ปีงบประมาณ', '2531']",ปีงบประมาณ 2531,10000000001000,14,14
3,3,เล่ม 1,"['เล่ม', '1']","['เล่ม', '1']",เล่ม 1,10001,5,5
4,4,ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่ง...,['ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห...,['ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห...,ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่ง...,1000000000000000000000000000000000000000000000...,50,50

In [4]:
def split(word): 
    return [char for char in word]

In [5]:
df['char(x)'] = df['sentence_without_space(x_clean)'].apply(split)

In [6]:
df['bit(y)'] = df['binary(y)'].apply(split)

In [7]:
df.head()

,Unnamed: 0,sentence(x),words,word_with_special_char(y),sentence_without_space(x_clean),binary(y),sentence_len,binary_len,char(x),bit(y)
0,0,การประชุมทางวิชาการ ครั้งที่ 1,"['การ', 'ประชุม', 'ทาง', 'วิชาการ', 'ครั้ง', '...","['การ', 'ประชุม', 'ทาง', 'วิชาการ', 'ครั้ง', '...",การประชุมทางวิชาการ ครั้งที่ 1,1001000001001000000100001000,28,28,"[ก, า, ร, ป, ร, ะ, ช, ุ, ม, ท, า, ง, ว, ิ, ช, ...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, ..."
1,1,โครงการวิจัยและพัฒนาอิเล็กทรอนิกส์และคอมพิวเตอร์,"['โครงการวิจัย', 'และ', 'พัฒนา', 'อิเล็กทรอนิก...","['โครงการวิจัย', 'และ', 'พัฒนา', 'อิเล็กทรอนิก...",โครงการวิจัยและพัฒนาอิเล็กทรอนิกส์และคอมพิวเตอร์,100000000000100100001000000000000010010000000000,48,48,"[โ, ค, ร, ง, ก, า, ร, ว, ิ, จ, ั, ย, แ, ล, ะ, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ..."
2,2,ปีงบประมาณ 2531,"['ปีงบประมาณ', '2531']","['ปีงบประมาณ', '2531']",ปีงบประมาณ 2531,10000000001000,14,14,"[ป, ี, ง, บ, ป, ร, ะ, ม, า, ณ, , 2, 5, 3, 1]","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]"
3,3,เล่ม 1,"['เล่ม', '1']","['เล่ม', '1']",เล่ม 1,10001,5,5,"[เ, ล, ่, ม, , 1]","[1, 0, 0, 0, 1]"
4,4,ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่ง...,['ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห...,['ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห...,ศูนย์เทคโนโลยีอิเล็กทรอนิกส์และคอมพิวเตอร์แห่ง...,1000000000000000000000000000000000000000000000...,50,50,"[ศ, ู, น, ย, ์, เ, ท, ค, โ, น, โ, ล, ย, ี, อ, ...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [8]:
#df.to_csv("data_prep_binary.csv")